*{padding:0; margin:0; font-family:Calibri;}

header{
	height:0;
	background: rgba(0,0,0,0.7);
	height:120px;
	width:100%;
	position:absolute;
	top:0;
	z-index:9999;
}

.container{
	margin: 0 auto;
	width:1200px;
	max-width:1200px;
	height:100%;
}

nav{
	float:right;
	display:block;
	height:100%;
	width:720px;
}

nav ul{
	height:100%;
	margin:0;
	padding:0;
}

nav ul li{
	display:inline;
	width:70px;
}

.menu-item{
	float:left;
	width:120px;
	height:100%;
	display:table;
	font-size:17px;
}

.menu-item a{
	vertical-align:middle;
	display:table-cell;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	color:white;
}

.menu-item:hover{
	background:white;

}

.menu-item:hover a{
	color:black;
}

.logo{
	width:170px;
	height:170px;
	background:black;
	float:left;
}

.dodavatelia{
	height:100%;
	width:300px;
	float:left;
}

.dod-content{
	float:left;
	padding:10px;
}
/*Slider*/

.slider {
height: 100%;
overflow: hidden;
position: relative;
width:100%
}
.slider .slider-wrapper {
position: absolute;
width: 90000px;
height: 100%
}
.slider section {
float: left;
max-width: 100%;
height: 100%
}
.slider section img {
width:100%;
height:100%;
}
.slider .control {
position: absolute;
display: block;
width: 50px;
height: 50px;
top: 50%;
background-color: rgba(0,0,0,0.3)
}
.slider .control.right {
background: url(../img/arrow-right.png) no-repeat 50% 50% rgba(0,0,0,0.3);
right: 0
}
.slider .control.left {
background: url(../img/arrow-left.png) no-repeat 50% 50% rgba(0,0,0,0.3);
}
.hover-img-effect section {
width: 1200px;
height: 400px;
margin: 120px auto 0
}
.hover-img-effect section .img-full {
float: left;
width: 600px;
height: 400px;
position: relative
}
.hover-img-effect section .img-full:hover .loupe-glass, .hover-img-effect section .img-full:focus .loupe-glass {
display: block
}
.hover-img-effect section .img-full .loupe-glass {
width: 50px;
height: 50px;
background-color: rgba(0,0,0,0.4);
position: absolute;
display: none;
z-index: 9999;
left: 0;
top: 0
}
.hover-img-effect section .img-full img {
width: 600px;
height: 400px
}
.hover-img-effect section .loupe {
float: left;
width: 600px;
height: 400px;
overflow: hidden;
position: relative
}
.hover-img-effect section .loupe img {
width: 600px;
height: 400px;
-webkit-transform: scale(2.4);
-ms-transform: scale(2.4);
transform: scale(2.4);
position: absolute
}

.caption{
	height:210px;
	width:800px;
	background:rgba(0,0,0,0.7);
	color:white;
}

.caption-title{
	display:block;
}

.caption-title p{
	padding:10px;
	padding-left:25px;
	font-size:30px;
}

.caption-content{
	display:block;
}

.caption-content p{
	padding:10px;
	padding-left:25px;
	padding-right:25px;
	text-align:justify;
	font-size:15px;
}

.Collage{
	padding:10px;
}

#featured{ 
	width:100%; 
	position:relative; 
	height:100%; overflow:hidden;
}
#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:0;
	float:right;	
	list-style:none; 
	padding:0; margin:0; 
	width:250px;
	height:100%;
	overflow:auto;
	overflow-x:hidden;
	background:rgba(0,0,0,0.5);
	width:20%;
	right:0px;
	z-index:1;
}
#featured ul.ui-tabs-nav li{ 
	padding: 0 0 1px 0;  
	font-size:12px; 
	color:#666; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left; margin:2px 5px; 
	padding:2px; 
}
#featured ul.ui-tabs-nav li span{ 
	font-size:14px; 
	line-height:18px; 
}

#featured ul.ui-tabs-nav li p{ 
	font-size:14px; 
	font-weight:bold;
	line-height:18px; 
	margin: 0;
}

#featured li.ui-tabs-nav-item a{ 
	display:block; 
	height:60px; text-decoration:none;
	color:lightgray;  background:rgba(0,0,0,0.5); 
	line-height:20px; outline:none;
}
#featured li.ui-tabs-nav-item a:hover{ 
	background:rgba(60,60,60,1); 
}
#featured li.ui-tabs-selected, #featured li.ui-tabs-active{ 
	background:url('images/selected-item.gif') top left no-repeat;  
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a, #featured ul.ui-tabs-nav li.ui-tabs-active a{ 
	background:rgba(60,60,60,1); 
}
#featured .ui-tabs-panel{ 
	width:400px; height:100%; 
	background:none; position:relative;
	width:80%;
}

#featured .ui-tabs-panel img{
	width:100%;
}

#featured .ui-tabs-panel .info{ 
	position:absolute; 
	bottom:0; left:0; 
	height:90px; 
	background: rgba(0,0,0,0.7); 
	width:600px;
	padding:10px;
}
#featured .ui-tabs-panel .info a.hideshow{
	position:absolute; font-size:11px; color:#f0f0f0; right:10px; top:-20px; line-height:20px; margin:0; outline:none; background:#333;
}
#featured .info h2{ 
	font-size:1.2em;
	color:#fff; padding:5px; margin:0; font-weight:normal;
	overflow:hidden; 
	font-weight:bold;
}
#featured .info p{ 
	margin:0 5px; 
	font-size:13px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}

.back {background: url(../img/back1.jpg); 
	width:100%;
	height:100%;
}

.o-nas-content{
	display:block;
	margin:90px;
	color:white;
}

.o-nas-content span{
display:block;
	text-align:justify;
}

#email-form{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 10000;
	visibility: hidden;	
}

#email-body{
	margin: 0px auto;
	width: 600px;
	height: 0px;
	background-color:rgba(0,0,0,0.7);
	top:200px;
	bottom:200px;
	position: relative;
}

#email-body #content{
	opacity: 0;
}

.email-button{
	float: right;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.close{
	float: right;
}

.close img{
	width:25px;
	margin: 10px;
}

#content-mail label {
	color: white;
}

#featured .info .email-button a
{
	color: white;
}

